<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Икстас</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Курсы</h1>
    <ul>
        <li th:each="course : ${courseList}" th:id="'course_' + ${course.id}">
            <a th:text="${course.name}" th:href="@{/course/{course_id}(course_id = ${course.id})}"></a>

            <div class="courseInfo">
                <span class="coursePrice" th:text="${course.price + '$'}"></span>
                <span class="courseLevel" th:text="${@courseLevelDictionary.getName(course.level)}"></span>
            </div>
        </li>
    </ul>
</div>
</body>
</html>