<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<!--/*@thymesVar id="course" type="com.staslabs.xstas.data.entity.Course"*/-->
<head>
    <title>Икстас</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Детально</h1>
    <span class="courseName" th:text="${course.name}"></span>
    <button onclick="document.getElementById('new-module-form').style.display='block'">Создать модуль</button>
    <form method="POST" th:object="${course}" style="display:none" id="new-module-form">

        <label>Email</label>:
        <input type="text" th:field="*{description}"/>

        <input type="submit" value="Ага"/>
    </form>
</div>
</body>
</html>