<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<!--/*@thymesVar id="teaser" type="com.staslabs.xstas.data.entity.Teaser"*/-->
<head>
    <meta name="csrf_token" th:content="${_csrf.token}"/>
    <meta charset="UTF-8">
    <script th:src="@{/js/createTeaser.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="//fast.wistia.com/assets/external/api.js" async></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    <link rel="stylesheet" href="//fast.wistia.com/assets/external/uploader.css" />
    <title>Создание тизера</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Создание тизера</h1>
    <form method="POST" th:object="${teaser}" th:action="@{/teasers/create}">
        <input type="hidden" th:field="*{id}">
        <label>Название</label>:
        <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" class="error" th:text="${#fields.errors('name')[0]}"></span>
        <br/>

        <label>Описание</label>:
        <input type="text" th:field="*{description}"/>
        <span th:if="${#fields.hasErrors('description')}" class="error" th:text="${#fields.errors('description')[0]}"></span>
        <br/>

        <div th:if="${teaser.id != 0}">
            <div class="wistia_responsive_padding" style="padding:0 0 0 0;position:relative;">
                <div class="wistia_responsive_wrapper" style="left:0;position:absolute;top:0;">
                    <input type="hidden" th:value="${teaser.getVideo()}" id="existence-video-id">
                    <div th:class="${'videoFoam=true wistia_embed wistia_async_' + teaser.getVideo()}">&nbsp;</div>
                </div>
            </div>
            <div style="padding:30% 0 0 0;position:relative;">
                <button type="button" id="load-new-video" style="left:475px;position:absolute;top:100px;">Загрузить новое видео</button>
            </div>
            <div class="wistia_responsive_padding" style="padding:0 0 0 0;position:relative;" id="new-video-block">
                <div class="wistia_responsive_wrapper" style="left:700px;position:absolute;top:-340px;">
                    <div id="wistia_uploaderNew" style="height:300px;width:400px;"></div>
                </div>
            </div>
        </div>

        <div th:th:if="${teaser.id == 0}" id="wistia_uploader" style="height:360px;width:640px;"></div>

        <input type="hidden" th:field="*{video}" id="video"/>

        <input type="submit" value="Добавить тизер"/>
    </form>
</div>
</body>
</html>