<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>Икстас</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Детально</h1>
    <span class="courseName" th:text="${course.name}"></span>
    <div class="courseInfo">
        <span class="coursePrice" th:text="${course.price + '$'}"></span>
        <span class="courseLevel" th:text="${@courseLevelDictionary.getName(course.level)}"></span>
    </div>
</div>
</body>
</html>