<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<!--/*@thymesVar id="user" type="com.staslabs.xstas.data.entity.User"*/-->
<head>
    <title>Икстас</title>
</head>
<body>
<div layout:fragment="content">
<h1>Register</h1>
<form method="POST" th:object="${user}" th:action="@{/user/register}">

    <label>First Name</label>:
    <input type="text" th:field="*{firstName}"/>
    <span th:if="${#fields.hasErrors('firstName')}" class="error" th:text="${#fields.errors('firstName')[0]}"></span>
    <br/>

    <label>Last Name</label>:
    <input type="text" th:field="*{lastName}"/>
    <span th:if="${#fields.hasErrors('lastName')}" class="error" th:text="${#fields.errors('lastName')[0]}"></span>
    <br/>

    <label>Email</label>:
    <input type="text" th:field="*{email}"/>
    <span th:if="${#fields.hasErrors('email')}" class="error" th:text="${#fields.errors('email')[0]}"></span>
    <br/>

    <label>Username</label>:
    <input type="text" th:field="*{username}"/>
    <span th:if="${#fields.hasErrors('username')}" class="error" th:text="${#fields.errors('username')[0]}"></span>
    <br/>

    <label>Password</label>:
    <input type="password" th:field="*{password}"/>
    <span th:if="${#fields.hasErrors('password')}" class="error" th:text="${#fields.errors('password')[0]}"></span>
    <br/>

    <input type="submit" value="Register"/>
</form>
</div>
</body>
</html>